.navbar.navbar-inverse img#app__logo {
    max-width: 20px;
}
form hr {
    border-top: 3px solid #3d7e9a;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
section {
    text-align: center;
}
video {
    height: 60vh;
}
.call-to-action {
    height: 300px;
    align-items: center;
    margin:auto;
    padding: 0;
}
.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}
.video-container video {
    min-width: 100%; 
    min-height: 100%; 
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
hr {
    border-top: 1px solid blue;
    width: 80%;
}

input[type=radio].typeTenantSelector  {
    opacity: 1;
}
form#demo__vendor__login__form, form#demo__store__login__form {
    border: 1px solid transparent;
    transition: overflow 1s ease-in;
    overflow: hidden;
    height: 0px;
}
input[type=radio]#vendor:checked ~ div form#demo__vendor__login__form {
    width: 300px;
    height: 300px;
    padding: 15px;
    overflow: initial;
}
input[type=radio]#store:checked ~ div form#demo__store__login__form {
    width: 300px;
    height: 300px;
    padding: 15px;
    overflow: initial;
}
  

  
/* 
.css-tooltip{
    position: relative;
}
.css-tooltip:hover:after{
    content:attr(data-tooltip);
    background:#000;
    background:white;
    padding:5px;
    border-radius:3px; 
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-100%); 
    margin:0 auto;
    color:#FFF;
    min-width:100px;
    min-width:150px;
    top:-5px;
    left: 50%;
    text-align:center; 
}
.css-tooltip:hover:before {
    top:-5px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
    transform: translate(0,0px); 
}
    */