<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PensumGraph</title>
    
    <meta name="description"  content="Daniel Pedroza Personal Profile Webpage and Portafolio">
    <meta name="author"       content="Daniel Pedroza">

    <!--  opg -->
    <meta property="og:title" content="Daniel Pedroza" />
    <meta property="og:type"  content="website" />
    <meta property="og:url"   content="https://daniepusb.github.io" />
    <meta property="og:image" content="https://daniepusb.github.io/assets/img/profile_daniel_github.jpg" />
    <meta property="og:site_name" content="daniepusb.github.io">
    <meta property="og:description" content="#DanielPedroza PensumGraph Plugin Proyect">

    <link rel="canonical" href="https://daniepusb.github.io" />
    <link rel="icon" href="https://daniepusb.github.io/assets/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
<main>
    <section>
        <div id="tope">
            <div id="inicio" class="btn" data-span="Inicio" data-back="volver">
                <span>Inicio</span>
            </div>
        </div>
        <div id="resultado"></div>
    </section>
</main>

<div class="Carrera"></div>

</body>
</html>