{% extends 'bootstrap/base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{ super() }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Recetario | {{ title }}{% endblock %}</title>
    
    <meta name="description"  content="Recetario">
    <meta name="author"       content="Boss Team">

    <!--  ogp -->
    <meta property="og:title" content="Recetario" />
    <meta property="og:type"  content="website" />
    <meta property="og:url"   content="https://danielpedroza.pythonanywhere.com/" />
    <meta property="og:image" content="{{ url_for('static', filename='assets/img/recetario.png')}}" />
    <meta property="og:site_name" content="daniepusb.github.io">
    <meta property="og:description" content="#Recetario">

    <link rel="canonical" href="https://danielpedroza.pythonanywhere.com/" />
    <link rel="icon" href="{{ url_for('static', filename='assets/img/recetario.png')}}" type="image/x-icon" />


    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
    
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {{ utils.flashed_messages() }}

    {% block content %}{% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</body>
</html>