{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macros %}

{% block content %}

    <div class="container">
        <form id="ingredient_create_form" class="form form-horizontal" method="POST" role="form" action="/ingredients/create" enctype="multipart/form-data" >
            <fieldset id="fieldsetmyFormControl" >
                <legend>{{title}}</legend>
                <div class="row">
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-3 control-label">Nombre del ingrediente</label>
                        <div class="col-sm-4">
                            <input id="title" name="title" type="text" class="form-control"  placeholder="Nombre del ingrediente" {% if form %} value="{{form.get('title')}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUnit" class="col-sm-3 control-label">Unidad</label>
                        <div class="col-sm-4">
                            <select name="unit" class="form-control" required>
                                {% for r in units   %}  
                                    {% if form and form.get('unit')==r %}  <option selected aria-selected="true">{{r}}</option>
                                    {% else  %} <option>{{r}}</option> {% endif  %}
                                {% endfor  %}
                            </select>
    
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
                <hr>
                <!-- **********************************************************-->
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="inputPrice" class="col-sm-3 control-label">Presentación del ingrediente</label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label for="inputImage" class="control-label">Imagen</label>
                        <div id="profile-container" > <!-- class="thumbnail jumbotron" -->
                            <image id="profileImage" onclick="fasterPreview(this)" src="{{ url_for('static',  filename='assets/img/cupcake_recipe.png') }}" style="width:150px;height:150px;" />
                            <input id="imageUpload" onchange="fasterPreview(this)" type="file" name="profile_photo" placeholder="Photo" required  aria-filename="" aria-src="" value="" accept="image/*">
                        </div>
                        <input id="imageUpload__filename" hidden type="text" name="filename" aria-filename="" aria-src="" value="OLDNAME">
                        <input id="imageUpload__URL" hidden type="text" name="imageURL" aria-imageURL="" aria-src="" value="OLDimageURL">
                    </div>
                    <!-- **********************************************************-->
                    <div class="form-group ">
                        <div class="form-group">
                            <label for="inputPrice" class="col-sm-3 control-label">Precio</label>
                            <div class="col-sm-4">
                                <input id="price" name="price" type="number" class="form-control"  placeholder="Precio del ingrediente" step="0.01" min="0" {% if form %} value="{{form.get('price')}}" {% endif %} required>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity" class="col-sm-3 control-label">Cantidad</label>
                            <div class="col-sm-4">
                                <input id="quantity" name="quantity" type="number" class="form-control"  placeholder="Cantidad de la presentacion" step="0.01" min="0" {% if form %} value="{{form.get('quantity')}}" {% endif %} required>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputUnit" class="col-sm-3 control-label">Unidad</label>
                            <div class="col-sm-4">
                                <select name="unit" class="form-control" required>
                                    {% for r in units   %}  
                                        {% if form and form.get('unit')==r %}
                                            <option selected aria-selected="true">{{r}}</option>
                                        {% else  %}
                                            <option>{{r}}</option>
                                        {% endif  %}
                                    {% endfor  %}
                                </select>
                                        
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </div>
                    <hr>
                    <!-- **********************************************************-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="glutenFree">Gluten Free</label>
                        <div class="col-sm-4">
                            <input id="glutenFree" name='is_gluten_free'  type="checkbox" {% if form %} checked="{{form.get('is_gluten_free')}}" {% endif %}> 
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>
                    
                <br><br>
                
                <div class="text-right">
                    <button type="submit" class="btn btn-success" >Crear</button>
                </div>
                <br>
            </fieldset>    
        </form>

        
    </div>
    
    <script type='text/javascript'>
        document.getElementById("title").focus();
        // document.getElementById("ingredient-row").getElementsByTagName("button")[0].style.display = "none";

        function addProperty() {
            var original    = document.getElementById("property_row_hidden")
            var clone       = original.cloneNode(true)
            clone.id        = ""
            original.parentNode.appendChild(clone);
        }

        function deleteProperty(e) {
            // console.log(e)
            // console.log(e.parentNode.parentNode)
            // console.log( e.parentNode.parentNode.getElementsByTagName("button"))
            e.parentNode.parentNode.remove()
        }

        var j = 0;
    </script>

    <script>

        function loadXMLDoc()
        {
            var req = new XMLHttpRequest()
            req.onreadystatechange = function()
            {
                if (req.readyState == 4)
                {
                    if (req.status != 200)
                    {
                        //error handling code here
                    }
                    else
                    {
                        var response    = JSON.parse(req.responseText)
                        var container   = document.getElementById("ingredients")
                        // container.appendChild(response);
                        // container.appendChild(document.createElement("div"));
                        document.getElementById('ingredients').innerHTML = response
                    }
                }
            }
        
            req.open('GET', '/recipes/ajax')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            // var un = document.getElementById('scname').value
            // var sec = document.getElementById('secret').value
            // var postVars = 'username='+un+'&secret='+sec
            // req.send(postVars)
            req.send()
            
            return false
        }
    </script>
{% endblock %}




