{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} Ver Inventario
{% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        {% if products %}
            <h1>Ver Productos </h1>
            <ul class="list-group">
                {% for r in products %}
                    {{ macros.render_products(r) }}                
                {% endfor %}
            </ul>
        {% else %}
            <h1>No hay productos para mostrar</h1>
        {% endif %}
        <hr>
        {% if ingredients %}
            <h1>Listar ingredientes</h1>
            <ul class="list-group">
                {% for r in ingredients %}
                    {{ macros.render_ingredients(r) }}                
                {% endfor %}
            </ul>
        {% else %}
            <h1>No hay ingredientes para mostrar</h1>
        {% endif %}

        

    </div>

{% endblock %}