{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} Ver inventario
{% endblock %}

{% block content %}
    <div class="container">
        {% if products %}
            <div class="panel panel-default">
                <div class="panel-heading">Panel de productos {{title}}</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Producto</th>					
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in products  %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{i.get('name')}}</td>
                                <td>{{ i.get('quantity') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            <hr>
        {% endif %}
        {% if ingredients %}
            <div class="panel panel-default">
                <div class="panel-heading">Panel de ingredientes {{title}}</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ingrediente</th>					
                                <th>Cantidad</th>		
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in ingredients  %}
                            <tr>
                                <th scope="row"></th>
                                <td>{{i.id}}</td>
                                <td>{{i.get('quantity')}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        {% endif %}
    </div>
    
{% endblock %}




