{% macro render_todo(todo) %}
    <li>{{ todo.id }}</li>
{% endmacro %}

{% macro render_recipes(r) %}
    <li class="list-group-item">
        <div class="media">
            <div class="media-left media-middle">
                <a href="{{ url_for('recipes.select', recipe=r.id) }}" >
                    <img src="{{ r.get('imageURL') }}" alt="{{ r.id }}" style="width:20px;height:20px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-middle"><a href="{{ url_for('recipes.select', recipe=r.id) }}">{{ r.id }}</a></h4>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro render_ingredients(r) %}
    <li class="list-group-item">
        <div class="media">
            <div class="media-left media-middle">
                <a href="{{ url_for('ingredients.select', ingredient=r.id) }}" >
                    <img src="{{ url_for('static', filename='assets/img/platzi.png') }}" alt="{{ r.id }}" style="width:20px;height:20px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-middle"><a href="{{ url_for('ingredients.select', ingredient=r.id) }}">{{ r.id }}</a></h4>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro render_ingredient_properties(r) %}
    <li>{{ r }}</li>
{% endmacro %}

{% macro render_recipe_content(k,v) %}
    <li><b>{{ k }} :</b> {{v}}</li> 
{% endmacro %}

{% macro render_dropdown_ingredients(r) %}
    <option>{{r.id}}</option>
{% endmacro %}

{% macro render_dropdown_ingredients_selected(r,opt=False) %}
    {% if r.id == opt %}
        <option selected aria-selected="true">{{r.id}}</option>
    {% else %}
        <option>{{r.id}}</option>
    {% endif %}
{% endmacro %}
