{% macro render_todo(todo) %}
    <li>{{ todo.id }}</li>
{% endmacro %}

{% macro render_recipes(r) %}
    <li><a href="{{ url_for('recipes.select', recipe=r.id) }}">{{ r.id }}</a></li>
{% endmacro %}

{% macro render_ingredients(r) %}
    <li><a href="{{ url_for('ingredients.select', ingredient=r.id) }}">{{ r.id }}</a></li>
{% endmacro %}

{% macro render_ingredient_properties(r) %}
    <li>{{ r }}</li>
{% endmacro %}

{% macro render_recipe_content(k,v) %}
    <li><b>{{ k }} :</b> {{v}}</li> 
{% endmacro %}
