<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if session['tenantImageURL'] and session['tenantType']=='STORE' %}
                <a class="navbar-brand" href="{{ url_for('orders.index') }}">
                    <img id="app__logo" data-tooltip="{{session['tenant']}}" {% if session['type__of__tenant']=='sandbox' %} style="padding: 2px;background-color: red;" {% endif %} src="{{ session['tenantImageURL'] }}" alt="Logo">
                </a>
            {% elif  session['tenantImageURL'] and session['tenantType']=='VENDOR' %}
                <a class="navbar-brand" href="{{ url_for('orders.index') }}">
                    <img id="app__logo" data-tooltip="{{session['tenant']}}" {% if session['type__of__tenant']=='sandbox' %} style="padding: 2px;background-color: red;" {% endif %} src="{{ session['tenantImageURL'] }}" alt="Logo">
                </a>
            {% else %}
                <a  class="navbar-brand" href="{{ url_for('recipes.list_recipes') }}">
                    <img id="app__logo" src="{{ url_for('static', filename='assets/img/recetario.png') }}" alt="Recetario logo">
                </a>
            {% endif %}
        </div>

        <div class="navbar-collapse collapse">
            <ul id="class__navbar__active" class="nav navbar-nav" aria-active="{{navbar}}__li">
                {% if current_user.is_authenticated %}
                    {% if admin %}
                        {% if session['tenantPermits'].get('recipes') %}
                            <li class="dropdown" id="recipes__li">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recetas <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('recipes.list_recipes') }}">Recetas</a></li>
                                    <li><a href="{{ url_for('recipes.create') }}">Registrar receta</a></li>
                                    {% if session['tenantPermits'].get('ingredients') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('ingredients.list_ingredients') }}">Ingredientes</a></li>
                                        <li><a href="{{ url_for('ingredients.create') }}">Registrar Ingrediente</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if session['tenantPermits'].get('orders') %}
                            <li class="dropdown" id="orders__li">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-roledescription="estimar" aria-haspopup="true" aria-expanded="false">Caja <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('orders.index') }}">Caja</a></li>
                                    <li><a href="{{ url_for('orders.daily') }}">Ver ventas diarias</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Ver pedidos</a></li>
                                    <!-- <li><a href="{{ url_for('vendors.create') }}">Registrar pedido</a></li> -->
                                    <!-- <li><a href="{{ url_for('orders.simulate') }}">Simular pedido semanal</a></li> -->
                                    <!-- <li role="separator" class="divider"></li> -->
                                </ul>
                            </li>
                        {% endif %}
                        {% if session['tenantPermits'].get('inventory') %}
                            <li class="dropdown" id="inventory__li">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventario <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('inventory.list_inventory') }}">Ver inventario</a></li>
                                    <li><a href="{{ url_for('inventory.add') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir al inventario</a></li>
                                    <li><a href="{{ url_for('inventory.delete') }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Eliminar del inventario</a></li>
                                    {% if session['tenantPermits'].get('products') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('products.list_products') }}">Ver productos</a></li>
                                        <li><a href="{{ url_for('products.create') }}">Registrar producto</a></li>
                                    {% endif %}
                                    {% if session['tenantPermits'].get('vendors') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('vendors.list_vendors') }}">Ver Proveedores</a></li>
                                        <li><a href="{{ url_for('vendors.create') }}">Registrar proveedor</a></li>
                                    {% endif %}
                                    {% if session['tenantPermits'].get('stores') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('stores.list_stores') }}">Ver locales</a></li>
                                        <li><a href="{{ url_for('stores.create') }}">Registrar Local</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if session['tenantPermits'].get('profile') %}
                            <li class="dropdown" id="profile__li">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('profile.list_users') }}">Ver usuarios</a></li>
                                    <li><a href="{{ url_for('profile.signup_user') }}">Registrar usuario</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ url_for('profile.profile') }}">Perfil</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if session['tenantPermits'].get('recipes') %}
                            <li id="recipes__li"><a href="{{ url_for('recipes.list_recipes') }}">Recetas</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="dropdown" id="help__li">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ayuda <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('faq.info') }}">Preguntas Frecuentes</a></li>
                            <li><a href="{{ url_for('faq.info') }}">Reportar error</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Entrar</a></li>
                    <li><a href="{{ url_for('auth.demo') }}">Demo</a></li>
                    <li><a href="{{ url_for('faq.info') }}">Preguntas Frecuentes</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if navbar %}
<script type='text/javascript'>
    var ref__class__active  = document.getElementById('class__navbar__active')
    var li__name            = ref__class__active.getAttribute('aria-active')
    var li__active          = document.getElementById(li__name).classList.add('active')

</script>
{% endif%}
