{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} ver receta seleecionada
{% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
    {{super()}}
   
    {% if recipe %}
        <div class="container">
            <h1>{{ recipe.id }}</h1>
            <ul>
                {% for k,v in recipe.items() %}
                    {{ macros.render_recipe_content(k,v) }}                
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{flash('No existe receta')}}
    {% endif %}


{% endblock %}