{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} ver recetas
{% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
    {{super()}}
   
    {% if recipes %}
        <div class="container">
            <h1>Ver recetas</h1>
            <ul>
                {% for r in recipes %}
                    {{ macros.render_recipes(r) }}                
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{flash('No hay recetas para mostrar')}}
    {% endif %}

    {% if admin %}
        <div class="container">
            <h3>Agregar receta</h3>
            {{ wtf.quick_form(recipe__form) }}
        </div>
    {% endif %}



{% endblock %}