{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} ver receta selecionada
{% endblock %}

{% block content %}
    {% if form %}
        <div class="container">
            <form id="recipe_update_form" class="form form-horizontal" method="POST" role="form" action="/recipes/update/{{title}}">
                <fieldset id="fieldsetmyFormControl" disabled>
                    <legend>{{title}}</legend>
                    <!-- **************************************************************** -->
                    <!-- primer bloque: nombre, description, servings, instructions, imageURL -->
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="inputImage" class="control-label">Imagen</label>
                            <div id="profile-container" > <!-- class="thumbnail jumbotron" -->
                                <image id="profileImage" src="{{form.get('imageURL')}}" style="width:150px;height:150px;" />
                            </div>
                            <input id="imageUpload__filename" hidden type="text" name="filename" aria-filename="" aria-src="{{form.get('imageURL')}}" value="{{form.get('imageURL')}}">
                            <input id="imageUpload__URL" hidden type="text" name="imageURL" aria-imageURL="{{form.get('imageURL')}}" aria-src="{{form.get('imageURL')}}" value="{{form.get('imageURL')}}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-4 control-label">Nombre de la receta</label>
                            <div class="col-sm-8">
                                <input id="title" name="title" type="text" class="form-control"  placeholder="Nombre de la receta" value="{{title}}" disabled required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-4 control-label">Descripcion</label>
                            <div class="col-sm-8">
                                <input id="description" name="description" type="text" class="form-control"  placeholder="Descripcion de la receta" value="{{form.get('description')}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputServings" class="col-sm-4 control-label">Porciones</label>
                            <div class="col-sm-8">
                                <input id="servings" name="servings" type="number" class="form-control"  placeholder="Cantidad de porciones de la receta" step="1" min="1" value="{{form.get('servings')}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputInstructions" class="col-sm-4 control-label">Instrucciones</label>
                            <div class="col-sm-8">
                                <textarea id="instructions" name="instructions" style="resize:vertical" type="text" class="form-control"  rows="3"  placeholder="Instrucciones" required>{{form.get('instructions')}} </textarea>
                            </div>
                        </div>
                </div>
                
                <!-- fin primer bloque: nombre, description, servings, instructions, imageURL -->
                <!-- **************************************************************** -->
                
                    <hr>
                    <div id="ingredients__container" class="form-group">
                        <!-- Ingredientes -->
                        <div id="ingredient-row" class="form-group row">
                            {% if ingredients %} 
                                {% for i in ingredients  %}  
                                <div>
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-xs-12 col-sm-5 col-md-5 col-lg-5">Ingrediente</label>
                                        <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Cantidad</label>
                                        <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Unidad</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                            <select class="form-control"  name="ingredients-name">
                                                <option selected>{{i.id}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <input type="number" class="form-control" name="ingredients-quantity" placeholder="250" required step="1" min="1" value="{{i.get('quantity')}}">
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <select class=" form-control"  name="ingredients-unit">
                                                <option selected>{{i.get('unit')}}</option>
                                                <option>unidad</option>
                                                <option>gr</option>
                                                <option>ml</option>
                                            </select>
                                        </div>
                                        <button name="btn__delete" onclick="deleteIngredient(this)" type="button" class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1 d-none btn__delete" aria-label="remove">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                {% endfor  %}
                            {% endif %}
                        </div>
                    </div>
                    <br><br>

                    <div id="buttons_box" class="text-right" hidden>
                        <button type="submit" id="go_back_btn" name='go_back_btn'   class="btn btn-info"                                aria-roledescription="go back button">Atras</button>
                        <button type="button" id="add_ingredient_btn"               class="btn btn-primary" onclick="addIngrendient()"  aria-roledescription="add ingredient">Agregar Ingrediente</button>
                        <button type="submit" id="submit_btn"                       class="btn btn-success"                             aria-roledescription="save form">Guardar</button>
                    </div>
                </fieldset>
            </form>
            {% if admin %}
            <form id="recipe_estimate_form" class="form" method="POST" role="form" action="/recipes/estimate">
                <div id="go_edit_btn" class="text-left" >
                    <button type="button"  class="btn btn-success" onclick="make_editable()" aria-roledescription="edit" >Editar</button>
                    <input hidden type="number" name="amount" value=1>
                    <input hidden type="text" name="recipe" value="{{title}}">
                    <input type="submit" class="btn btn-primary" role="button" aria-roledescription="estimate" value="Calcular costo de ingredientes" >
                </div>
            </form>
            {% endif %}
            <br><br><br>

            <div id="ingredient__row__hidden" class="form-group row" hidden>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <label class="col-xs-12 col-sm-5 col-md-5 col-lg-5">Ingrediente</label>
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Cantidad</label>
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Unidad</label>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <select class="form-control"  name="ingredients-name">
                            <!-- <option>Dulce de Leche</option>
                            <option>Galleta</option>
                            <option>Limon</option>
                            <option>Rodajas de naranja</option>
                            <option>Zanahoria</option> -->
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" name="ingredients-quantity" placeholder="250" required value="">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <select class=" form-control"  name="ingredients-unit">
                            <option>gr</option>
                            <option>kg</option>
                            <option>ml</option>
                        </select>
                    </div>
                    <button onclick="deleteIngredient(this)" type="button" class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1" aria-label="remove">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        
        <script type='text/javascript'>
            add_ingredients_to_dropdown()

            function add_ingredients_to_dropdown(){
                console.log('add_ingredients_to_dropdown')
                //ajax, busco los options que debo agregar
                loadHTMLoptionstodropdown()
            }

            //TODO: detectar algun cambio en el formulario y allí mostrar el boton de guardar
            function make_editable() {
                document.getElementById('buttons_box').hidden = false
                document.getElementById('go_edit_btn').hidden = true
                let fieldset            = document.getElementById('fieldsetmyFormControl')
                
                fieldset.disabled         = !fieldset.disabled
                console.log("Hacer editable esta receta")
            }
            
            function addIngrendient() {
                var target      = document.getElementById("ingredient-row")
                var original    = document.getElementById("ingredient__row__hidden")
                var clone       = original.cloneNode(true)                   // "deep" clone include hidden
                clone.id        = ""                                                    // there can only be one element with an ID
                clone.hidden    = false                                                 // remove hidden atributte
                clone.getElementsByTagName("button")[0].style.display = "block"         // display block the close button
                clone.classList.remove('row')
                clone.classList.remove('form-group')
                
                target.appendChild(clone)
            }

            function deleteIngredient(e) {
                // console.log(e)
                // console.log(e.parentNode.parentNode)
                // console.log( e.parentNode.parentNode.getElementsByTagName("button"))
                e.parentNode.parentNode.remove()
            }

            function loadHTMLoptionstodropdown(){
                var req = new XMLHttpRequest()
                req.onreadystatechange = function(){
                    if (req.readyState == 4) {
                        if (req.status != 200) {
                            //error handling code here
                        } else{
                            // var response    = JSON.parse(req.responseText)
                            var response = req.responseText
                            
                            //busco todos los dropdown qude debo modificar
                            var pp = document.getElementsByName('ingredients-name')

                            //en un for agrego los options iteranto los dropdowns incluyendo div id='ingredient__row__hidden'
                            for ( i = 0; i < pp.length; i++) {
                                var unico   = pp[i].innerHTML       //no pierdo el selected
                                pp[i].innerHTML = unico + response
                            }
                        }
                    }
                    
                }
                req.open('GET', '/ingredients/dropdown')
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                // var un = document.getElementById('scname').value
                // var sec = document.getElementById('secret').value
                // var postVars = 'username='+un+'&secret='+sec
                // req.send(postVars)
                req.send()
                
                return false
            }
        </script>
    {% endif %}
{% endblock %}




