{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macros %}

{% block title %} 
    {{super()}} Registrar receta
{% endblock %}

{% block content %}
    <div class="container">
        <!-- inicio del form -->
        <form id="recipe_create_form" class="form form-horizontal" method="POST" role="form" action="/recipes/create" enctype="multipart/form-data">
            <fieldset id="fieldsetmyFormControl" >
                <legend>Registrar Receta</legend>
                <!-- **************************************************************** -->
                <!-- primer bloque: nombre, description, servings, instructions, imageURL -->
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for="inputImage" class="control-label">Imagen</label>
                        <div id="profile-container" > <!-- class="thumbnail jumbotron" -->
                            <image id="profileImage" onclick="fasterPreview(this)" src="{{ url_for('static',  filename='assets/img/cupcake_recipe.png') }}" style="width:150px;height:150px;" />
                            <input id="imageUpload" onchange="fasterPreview(this)" type="file" name="profile_photo" placeholder="Photo" required  aria-filename="" aria-src="" value="" accept="image/*">
                        </div>
                        <input id="imageUpload__filename" hidden type="text" name="filename" aria-filename="" aria-src="" value="OLDNAME">
                        <input id="imageUpload__URL" hidden type="text" name="imageURL" aria-imageURL="" aria-src="" value="OLDimageURL">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-4 control-label">Nombre de la receta</label>
                        <div class="col-sm-8">
                            <input id="title" name="title" type="text" class="form-control"  placeholder="Nombre de la receta" {% if form %} value="{{form.get('title')}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-4 control-label">Descripcion</label>
                        <div class="col-sm-8">
                            <input id="description" name="description" type="text" class="form-control"  placeholder="Descripcion de la receta" {% if form %} value="{{form.get('description')}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputServings" class="col-sm-4 control-label">Porciones</label>
                        <div class="col-sm-8">
                            <input id="servings" name="servings" type="number" class="form-control"  placeholder="Cantidad de porciones de la receta" step="1" min="1" {% if form %} value="{{form.get('servings')}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputInstructions" class="col-sm-4 control-label">Instrucciones</label>
                        <div class="col-sm-8">
                            <textarea id="instructions" name="instructions" style="resize:vertical" type="text" class="form-control"  rows="3"  placeholder="Instrucciones" >{% if form %} {{form.get('instructions')}} {% endif %}</textarea>
                        </div>
                    </div>
                </div>
                
                <!-- fin primer bloque: nombre, description, servings, instructions, imageURL -->
                <!-- **************************************************************** -->
                
                
                
                
                <!-- segundo bloque: ingredientes -->
                <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="ingredients__container" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="ingredient-row" class="form-group row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label class="col-xs-12 col-sm-5 col-md-5 col-lg-5">Ingrediente</label>
                            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Cantidad</label>
                            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Unidad</label>
                        </div>
                        {% if form %} 
                            {% for i in zipped  %}  
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        {{ingredients__list}}
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" name="ingredients-quantity" placeholder="250" required value="{{i[1]}}">
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <select class=" form-control"  name="ingredients-unit">
                                            <option>gr</option>
                                            <option>kg</option>
                                            <option>ml</option>
                                        </select>
                                    </div>
                                    <button onclick="deleteIngredient(this)" type="button" class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1" aria-label="trash">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            {% endfor  %}
                        {% else %}
                        <!-- **************************************************************** -->
                        <!-- else -->
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <select name="ingredients-name" class="form-control" id="">
                                            {% for i in ingredients__list  %}  
                                                {{macros.render_dropdown(i.id)}}
                                            {% endfor  %}
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" name="ingredients-quantity" placeholder="250" required>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <select class=" form-control"  name="ingredients-unit">
                                            <option>gr</option>
                                            <option>kg</option>
                                            <option>ml</option>
                                        </select>
                                    </div>
                                    <button onclick="deleteIngredient(this)" type="button" class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1" aria-label="trash">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                        {% endif %}
                        <!-- **************************************************************** -->
                        <!-- fin del for para zipped -->
                    </div>
                </div>
                <br><br>

                <div class="text-right">
                    <button type="button" id="add_ingredient" class="btn btn-primary" onclick="addIngrendient()" >Agregar Ingrediente</button>
                    <button type="submit" class="btn btn-success" >Crear</button>
                </div>
                <br>
            </fieldset>   
            <!-- fin del fieldset  -->
        </form>
        <!-- fin del form -->
    </div>

    <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-storage.js"></script>

    <script type='text/javascript'>
        document.getElementById("title").focus();
        document.getElementById("ingredient-row").getElementsByTagName("button")[0].style.display = "none";

        function addIngrendient() {
            var original    = document.getElementById("ingredient-row");
            var clone       = original.cloneNode(true); // "deep" clone
            clone.id        = "";                       // there can only be one element with an ID
            clone.getElementsByTagName("button")[0].style.display = "block";   //display block the close button
            original.parentNode.appendChild(clone);
            
        }

        function deleteIngredient(e) {
            // console.log(e)
            // console.log(e.parentNode.parentNode)
            // console.log( e.parentNode.parentNode.getElementsByTagName("button"))
            e.parentNode.parentNode.remove()
        }
    </script>
   
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDCLEJ3eFncL16rZaFP02-w4Eb_qqFmbSA",
            authDomain: "blogeekplatzi-2e74f.firebaseapp.com",
            databaseURL: "https://blogeekplatzi-2e74f.firebaseio.com",
            projectId: "blogeekplatzi-2e74f",
            storageBucket: "blogeekplatzi-2e74f.appspot.com",
            messagingSenderId: "669626757295",
            appId: "1:669626757295:web:c3ea2002a548b07fe4645a",
            measurementId: "G-0TLGQ6FHH4"
        };

        firebase.initializeApp(firebaseConfig);
        console.log("firebase config expose");

        function fasterPreview( uploader ) {
            if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src',window.URL.createObjectURL(uploader.files[0]) );
            }
            // document.querySelector("#imageUpload").src = "url"
            // document.getElementById('imageUpload__filename').value ="name"
            // document.getElementById('imageUpload__URL').value ="url"            
            uploadImage()
        }
        
        function uploadImage() {
            const ref       = firebase.storage().ref('recipes');
            const file      = document.querySelector("#imageUpload").files[0];
            const name      = +new Date() + "-"// + file.filename;
            const metadata  = { contentType: file.type };
            const task      = ref.child(name).put(file, metadata);
            
            task
                .then(snapshot => snapshot.ref.getDownloadURL())
                    .then(url => {
                        console.log("ESTA ES LA URL")
                        console.log(url)
                        console.log(name)
                        document.querySelector("#imageUpload").src = url
                        document.getElementById('imageUpload__filename').value = name
                        document.getElementById('imageUpload__URL').value = url
                        //document.querySelector("#imageUpload").setAttribute('aria-filename',name)
                    })
                .catch(console.error);
        }
    </script>

    
{% endblock %}




