{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block title %} 
    {{super()}} ver recetas
{% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
    {{super()}}

    {% if recipes %}
        <h1>Ver recetas</h1>
        <ul>
            {% for r in recipes %}
                {{ macros.render_recipe(r) }}                
            {% endfor %}
        </ul>
    {% else %}
        {{flash('No hay recetas para mostrar')}}
    {% endif %}

    {% if admin %}
        <h3>Agregar receta</h3>
        <a href="{{ url_for('index') }}">Agregar receta</a>
    {% endif %}




{% endblock %}