{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{super()}} Calcular costos
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel de visualizacion {{title}}</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingrediente</th>					
                        <th>Cantidad necesaria</th>		
                        <th>Cantidad de la presentacion</th>
                        <th>Unidad</th>					
                        <th>Cantidad a comprar</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in ingredients  %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{i.id}}</td>
                        <td>{{ info[i.id].get('newQuantity') }}</td>
                        <td>{{ info[i.id].get('quantity') }}</td>
                        <td>{{i.get('unit')}}</td>
                        <td>{{ info[i.id].get('newNeed') }}</td>
                        <td>{{ info[i.id].get('newPrice') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel de totalizacion</div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>					
                        <th></th>		
                        <th>Cantidad solicitada</th>
                        <th>Porciones totales</th>					
                        <th>Total costo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>					
                        <th></th>		
                        <th><input type="number" name="amount" id="" step="1" min="1" onchange="showSubmitBtn()" value="{{amount}}" /></th>
                        <td>{{ servings }}</td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock %}




